.wp-block-create-block-vh-tag-carousel {
  .vh-tag-carousel {
    &__viewport {
      scrollbar-width: thin;
    }

    &__card {
      border: 1px solid #e4dfd7;
      border-radius: 2px;
      overflow: hidden;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
    }
  }
}
