.wp-block-create-block-vh-tag-carousel {
  .vh-tag-carousel {
    &__viewport {
      scrollbar-width: thin;
    }

    &__card {
      overflow: hidden;

      &-title {
        padding-bottom: 0;
      }

      &-img {
        height: 100%;
      }
    }

  }

  .vh-tag-carousel__card--overlay h3.vh-tag-carousel__card-title {
    color: #fff;
  }
}
