.vh-local-sidebar {
  container-type: inline-size;
  margin-top: 32px;
}

@container (min-width: 768px) {
  .vh-local-sidebar__layout {
    display: grid;
    grid-template-columns: var(--vh-columns-template);
    align-items: start;
    gap: 16px;
  }
}
