.wp-block-create-block-vh-social-links {
  list-style: none;
  margin: 0;
  padding: 0;

  .vh-social-links__item {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  .vh-social-links__link {
    display: flex;
    align-items: center;
    gap: 0.5em;
    flex: 1;
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  .vh-social-links__icon {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    font-size: 1.25em;
    line-height: 1;
  }
}
