// Frontend styles — add your own here.
@property --category-color {
  syntax: '<color>';
  inherits: true;
  initial-value: transparent;
}

.wp-block-create-block-vh-category-section {
  margin-block-start: 3rem;
  container-type: inline-size;
}

.vh-category-section__title-row {
  display: grid;
  grid-template: 'title link' auto / 1fr auto;
  align-items: center;
}

.vh-category-section__title {
  margin: 0;
  font-size: 24px;
  color: black;
}

.vh-category-section--has-color .vh-category-section__title::before {
  content: '';
  background-color: var(--category-color);
  border-radius: 999999px;
  display: inline-block;
  height: 1.6rem;
  width: 0.5rem;
  margin-inline-end: 1rem;
}

.vh-category-section__view-all {
  color: gray;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.vh-category-section__line {
  margin-block: 1rem 2rem;
}

.vh-category-section__post-list {
  --post-list-columns: repeat(auto-fit, minmax(220px, 1fr));
  --article-grid: 'thumb' auto 'content' auto / minmax(0, 1fr);
  --thumb-max-width: 100%;

  display: grid;
  gap: 32px;
  grid-template-columns: var(--post-list-columns);

  @container (min-width: 600px) {
    --post-list-columns: 1fr;
    --article-grid: 'thumb content' auto / auto 1fr;
    --article-items: center;
    --thumb-max-width: 280px;
    --article-title-clamp: 2;
  }
}

.vh-category-section__article {
  display: grid;
  grid-template: var(--article-grid);
  gap: 16px;
  align-items: var(--article-items);
}

.vh-category-section__thumb-link {
  grid-area: thumb;
}

.vh-category-section__thumb.vh-category-section__thumb {
  aspect-ratio: 1.4;
  object-fit: cover;
  border-radius: 4px;
  max-width: var(--thumb-max-width);
}

.vh-category-section__content {
  grid-area: content;
  font-size: 14px;
}

.vh-category-section__article-title {
  font-size: 24px;
  margin-block-end: 0.5em;

  @supports (-webkit-line-clamp: 3) {
    display: -webkit-box;
    -webkit-line-clamp: var(--article-title-clamp, 3);
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  > a {
    color: inherit;
  }
}
