// Frontend styles — add your own here.
@property --category-color {
  syntax: '<color>';
  inherits: true;
  initial-value: transparent;
}

.wp-block-create-block-vh-category-section {
  margin-block-start: 3rem;
}

.vh-category-section__title-row {
  display: grid;
  grid-template: 'title link' auto / 1fr auto;
  align-items: center;
}

.vh-category-section__title {
  margin: 0;
  font-size: 24px;
  color: black;
}

.vh-category-section--has-color .vh-category-section__title::before {
  content: '';
  background-color: var(--category-color);
  border-radius: 999999px;
  display: inline-block;
  height: 1.6rem;
  width: 0.5rem;
  margin-inline-end: 1rem;
}

.vh-category-section__view-all {
  color: gray;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.vh-category-section__line {
  margin-block: 1rem 2rem;
}

.vh-category-section__post-list {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

  @media screen and (width >= 768px) {
    grid-template-columns: 1fr;
  }
}

.vh-category-section__article {
  display: grid;
  grid-template: 'thumb' auto 'content' auto / auto;
  gap: 16px;

  @media screen and (width >= 768px) {
    grid-template: 'thumb content' auto / auto 1fr;
    align-items: center;
  }
}

.vh-category-section__thumb.vh-category-section__thumb {
  grid-area: thumb;
  aspect-ratio: 1.4;
  object-fit: cover;
  border-radius: 4px;

  @media screen and (width >= 768px) {
    max-width: 280px;
  }
}

.vh-category-section__content {
  grid-area: content;
  font-size: 14px;
}

.vh-category-section__article-title {
  font-size: 24px;
  margin-block-end: 0.5em;

  @supports (-webkit-line-clamp: 3) {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @media screen and (width >= 768px) {
      -webkit-line-clamp: 2;
    }
  }

  > a {
    color: inherit;
  }
}
